/* Estilo general */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #8EC5FC;
    background-image: linear-gradient(45deg, #a9d4ff 0%, #E0C3FC 100%);
    color: #333;
    text-align: center;
    padding: 20px;
}

#banner {
    background-image: linear-gradient( 178.9deg,  rgba(176,57,105,1) 5.1%, rgba(229,113,159,1) 109.3% );
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: bannerAnim 2s forwards;
}

#banner h1 {
    font-family: 'Roboto', sans-serif;
    color: rgb(245, 186, 221);
    font-size: 48px;
    letter-spacing: 1px;
    line-height: 1.5;
}

@keyframes bannerAnim {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.botones-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

#calculadoraTiempoLectura {
    background: rgb(250, 241, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    text-align: left;
}

#calculadoraTiempoLectura label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #4c3565;
}

#calculadoraTiempoLectura input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

#resultadoLibro {
    margin-top: 10px;
    font-size: 16px;
    color: #4c3565;
}

#mostrarFormulario {
    display: inline-block;
    color: #4c3565;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

/* Formulario */
#formularioLibro {
    background: rgb(250, 241, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    text-align: left;
    display: none;
}

#formularioLibro label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #4c3565;
}

#formularioLibro input[type="text"], 
#formularioLibro input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

#formularioLibro input[type="checkbox"] {
    margin-left: 10px;
}

#formularioLibro button[type="submit"] {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    color: #4c3565;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    margin-top: 10px;
}

button {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    color: #4c3565;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;
    display: block;
}

.btn-eliminar {
    position: absolute;
    top: 0px;
    right: 1px;
    background: none;
    border: none;
    font-size: 10px;
    cursor: pointer;
}

#listaLibros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

/* Tarjetas de libros */
.libro {
    position: relative;
    background: rgb(250, 241, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px 25px 25px 25px;
    margin: 10px;
    width: 250px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
}

.libro h3 {
    color: #70419c;
    font-size: 26px;
    min-height: 30px;
    text-align: left;
    margin-top: 15px;
}

.libro p {
    font-size: 14px;
    margin: 5px 0;
}

.libro button {
    margin-top: auto;
}